@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: 'Pretendard';
}

.header {
  height: 145px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}

.header__logo h1 {
  font: bold 40px 'arial';
  padding-top: 10px;
  letter-spacing: 2px;
}

.header__logo p {
  font: bold 12px 'arial';
  letter-spacing: 2px;
  margin-top: -1px;
}

.header__gnb ul {
  margin-top: 30px;
}

.header__gnb ul li {
  display: inline-block
}

.header__gnb ul li a {
  display: block;
  font: bold 14px 'arial';
  color: #999;
  margin: 0px 16px;
  letter-spacing: 1px;
}
.main_content h1{
  margin-top: 50px;
}
.main_content h2 {
  margin-top: 50px;
}
.main_content input{
  border-radius: 10px;
  margin-top: 10px;
}
.main_content p{
  margin-top: 7px;
  font-size: 20px;
}
.main_content img{
  margin-top: 30px;
}
.main_content button{
  border-radius: 10px;
  margin-top: 10px;
  background-color: cadetblue;
  margin-bottom: 100px;
}
.main_content h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}